/*Так отмечают комментарии в CSS Видеоисточник обучение CSS: https://youtu.be/iPV5GKeHyV4 */
/*Шпаргалка CSS по свойствам на русском - https://ruseller.com/shporacss.php?id=9 */
/*Шпаргалка CSS со всеми свойствами на английском - https://www.w3schools.com/cssref/ */
/*В CSS существуют лишь селекторы и свойства - в HTML - теги. Фигурными скобками {} обозначают "контейнеры стилей"*/

/*Этот код изменяет оформление всех ССЫЛОК на сайте (так как селектор вызывает блок a) и такого рода элементы называют Селекторами Selector (выборщиками)*/
a {
   color:green; /*Этот код изменяет цвета на странице на N цвет так как этот код стоит в разделе a, то он отвечает именно за цвет шрифта у ссылок)*/
   font-size: 18px; /*16px - стандартный размер шрифта сайта. Этот код изменяет размер шрифта на N px (так как этот код стоит в разделе a, то он отвечает именно за размер шрифта у ссылок)*/
}

/* Селектор {
	свойство:значение;
	свойство1:значение1;
	свойство2:значение2;
	свойствоN:значениеN;
}*/

div {
	color: #FF0000; /*Так задаются цвета в HTML (цветовая система HEX в 16-ричной системе счисления задаются цвета) Увидеть все цвета можно на этих сайтах: https://www.webfx.com/web-design/color-picker/ и https://colorscheme.ru/html-colors.html и https://htmlcolorcodes.com/ Вот ссылка на скачивание программы для выбора цветов и пипетки http://www.blacksunsoftware.com/colormania.html */
}

/*
div {
	color: rgb(255, 0, 0); /Также цвет можно задавать и в RGB палитре Colormania: http://www.blacksunsoftware.com/colormania.html /
}
*/

/*
div {
	color: rgba(255, 0, 0, 0.1); /Задание цвета блока div с помощью rgb и a - альфа канала который задаёт прозрачность от 0 до 1/
}
*/

#CSS_test {
	color: lime; /*Cелектор по идентификатору. Так мы задали конкретному блоку div в HTML файле определённый цвет, а не для например всех ссылок как мы делали выше*/
}

#Wiki_HTML {
	color: purple; /*Так мы задали конкретному a в HTML файле определённый цвет, а не для всех ссылок например как мы делали выше*/
	font-size: 22px;
}

/*Теперь познакомимся с селектором класса */

.a12 {
	font-size: 23px; /*Всем классам a12 даются размер шрифта 23px*/
}

.a11 {
	font-size: 20px; /*Всем классам a11 даются размер шрифта 20px*/
}

.nesekmigs {
	color:red; /*Всем классам nesekmigs даётся дополнительно красный цвет*/
}

.sekmigs {
	color:cyan; /*Всем классам sekmigs даётся дополнительно голубой цвет*/
}

.message {
	color: #cc0000; /*Цвет шрифта*/
	background-color: #CFAFAF; /*Задний цвет за буквами*/
	border: 1px solid #000000;/*ширина рамки тип рамки (dashed или solid) и цвет рамки*/
	font-size: 20px; /*Размер шрифта*/
	margin: 10px; /*Длина внешних отступов (margin: 10px; (отступ со всех сторон)) (margin-top: 10px;) (margin-bottom: 10px;) (margin-left: 10px;) (margin-right: 10px)*/
	padding: 8px; /*Длина внутренних отступов (padding: 10px; (отступ со всех сторон)) (padding-top: 10px;) (padding-bottom: 10px;) (padding-left: 10px;) (padding-right: 10px)*/
}

.success {
	background-color: #07EF21; /*Задний цвет за буквами*/
	color: #FFFFFF; /*Цвет шрифта*/
}

.fail {
	background-color: #FF0000; /*Задний цвет за буквами*/
	color: #FFFFFF; /*Цвет шрифта*/
}

.info {
	background-color: #0090D7; /*Задний цвет за буквами*/
	color: #000000; /*Цвет шрифта*/
}

.warning {
	background-color: #ACBC29; /*Задний цвет за буквами*/
	color: #000000; /*Цвет шрифта*/
}

/*Событийные тригерры (что-то изменяется когда что-то происходит)*/

.message:hover {  /*hover - при событии наведения мышкой на объект, изменяется класс message, на время пока мышка наведена*/
	border: 8px solid #000000;
}

#CSS_test:hover { /*hover - при событии наведения мышкой на CSS_test, изменяется id CSS_test, на время пока мышка наведена*/
	border: 4px solid #000000;
}

#Red_text {
	transform: rotate(10deg) scale(1.2); /*Поворачивает объект на N градусов (можно и минус) и scale - увеличивает объект в N раз от (0;1) будет уменьшаться*/
	transition: 2s all; /*сколько секунд будет проходить анимация которая ниже указана как transform: rotate(360deg) scale(0.3);*/
	
	background-color: #C49E9E; /*Цвет позади букв*/
	color: #FF0000; /*Цвет шрифта*/
	padding: 15px; /*Длина внутренних отступов (padding: 10px; (отступ со всех сторон)) (padding-top: 10px;) (padding-bottom: 10px;) (padding-left: 10px;) (padding-right: 10px)*/
	margin: 10px; /*Длина внешних отступов (margin: 10px; (отступ со всех сторон)) (margin-top: 10px;) (margin-bottom: 10px;) (margin-left: 10px;) (margin-right: 10px)*/
	border: 7px dashed red; /*Ширина рамки тип рамки (dashed или solid) и цвет рамки*/
	border-radius: 100px; /*Закругление краёв*/
	opacity: 0.8; /*Прозрачность объекта*/
	box-shadow: 3px 3px 7px #000000; /*Тень от объекта (тень по оси x, по оси y, размытие и цвет Даёт ощущение 3D*/
    width: 200px; /*Ширина объекта (можно задать в пикселях, а можно в процентах от страницы (по стандарту 100% занимает))*/
	height: 30%; /*Высота объекта (можно задать в пикселях, а можно в процентах от страницы (по стандарту 100% занимает))*/
	display: block; /*block или none Включает или выключает отображение объекта*/
	text-align: center; /*Центрирование текста center; right; left;*/
	font-size: 30px; /*Размер шрифта*/
	font-weight: 400; /*Жирность шрифта*/
}

#Red_text:hover { /*При наведение на объект красный текст, прозрачность сменяется 1*/
	opacity: 1;
}

#Red_text:hover { /*При наведение на объект красный текст, он прокрутится на 360 градусов и уменьшиться до 0.3 и будет это делать 2s тк transition: 2s all сверху в тексте написано*/
	transform: rotate(360deg) scale(0.3);
	background-color: red;
}

body {
	background-image: url(images/background.jpg); /*Задняя картинка страницы*/
}