a:hover {
    background-color: rgb(179, 6, 6);
  }
  
    ul {
    text-align:center;
    list-style-type: none;
    overflow: hidden;
    /*background-color: #111;*/
    }
    
    li {
    float: left;
    background-color: green;
    
    }
    a:link {
      
      font-size: 40px;
      color: white;
      text-decoration: none;
      
    }

    li:hover {
      background-color: rgb(234, 68, 68);
      color: rgb(31, 18, 18); 
      font-size: 100px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-decoration: double;
      }